.calc-body{
    display: flex;
    flex-direction: column;
    align-content: stretch;

    max-width: 300px;
    padding: 5px;
    height: 400px;
}

.calc-btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    height: inherit;
}

.calc-display{
    border: 1px solid black;
}

.calc-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 26px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
}

.calc-btn.op{
    font-size: 32px;
}

#display-num{
    margin: 10px;
    text-align: right;
}

#bksp-icon{
    max-width: 40px;
}