@font-face{
    font-family: "DSEG7";
    src: url("fonts/DSEG7Classic-BoldItalic.ttf") format("truetype");
}

.calc-body{
    display: flex;
    flex-direction: column;
    align-content: stretch;

    background-color: #ddddc5;
    box-sizing: border-box;
    border: 3px solid #B1B17A;
    border-radius: 15px;
    padding: 25px 20px;
    margin: 0 auto;
    width: 380px;
    height: 480px;
}

.calc-btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;

    height: 100%;
}

.calc-display{
    background-color: #aab87f;
    border-radius: 8px;
    padding: 4px 0;
    margin-bottom: 10px;

    box-shadow: inset 0px 3px 0 rgba(0, 0, 0, 0.3);
}

.display-container{
    margin: 10px;
    font-family: "DSEG7", monospace;
    font-size: 38px;
    text-align: right;
    position: relative;
}

.calc-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 8px;

    background-color: #f1f1f1;
    box-shadow: 0 5px 0 #C8C8C8;
}

.calc-btn:hover{
    background-color: white;
}

.calc-btn:active{
    background-color: #e0e0e0;
    transform: translateY(4px);
    box-shadow: 0 1px 0 #C8C8C8;
}

.calc-btn.op{
    font-size: 38px;
    background-color: #eb9558;
    box-shadow: 0 5px 0 #C07948;
    color: white;
}

.calc-btn.op:hover{
    background-color: #F99E5D;
}

.calc-btn.op:active{
    background-color: #c57b4a;
    transform: translateY(4px);
    box-shadow: 0 1px 0 #C07948;
}

.calc-btn.eq{
    font-size: 38px;
    background-color: #ad3b1b;
    box-shadow: 0 5px 0 #8D3016;
    color: white;
}

.calc-btn.eq:hover{
    background-color: #B73E1D;
}

.calc-btn.eq:active{
    background-color: #963318;
    transform: translateY(4px);
    box-shadow: 0 1px 0 #8D3016;
}

#display-bg{
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;

    color: rgba(0, 0, 0, 0.08);
}

#display-num{
    position: relative;
    display: block;
    z-index: 20;

    color: black;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#bksp-icon{
    max-width: 40px;
}

.mod#ac-ce{
    font-size: 21px;
}

